Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
psycopg[binary]>=3.2,<4
python-dotenv==1.0.0
razorpay==1.4.2
setuptools<81
gunicorn==22.0.0; platform_system != "Windows"
